black==26.5.1
build==1.6.1
flake8==7.3.0
isort==9.0.1
Jinja2==3.1.6
mdformat-black==0.1.1
mdformat-gfm==1.0.0
mypy==2.3.1
pre-commit==4.6.2
pydantic==2.13.5
pytest==9.1.1
pytest-cov==7.1.0
PyYAML==6.0.3
setuptools==84.0.0
