black==26.3.1
build==1.4.0
flake8==7.3.0
isort==8.0.1
Jinja2==3.1.6
mdformat-black==0.1.1
mdformat-gfm==1.0.0
mypy==1.19.1
pre-commit==4.5.1
pydantic==2.12.5
pytest==9.0.2
pytest-cov==7.0.0
PyYAML==6.0.3
setuptools==82.0.1
