black==25.1.0
build==1.2.2.post1
flake8==7.1.2
isort==6.0.1
Jinja2==3.1.6
mdformat-black==0.1.1
mdformat-gfm==0.4.1
mypy==1.15.0
pre-commit==4.1.0
pydantic==2.10.6
pytest==8.3.5
pytest-cov==6.0.0
PyYAML==6.0.2
setuptools==75.8.2
